body {
    font-family: Arial, sans-serif;
    padding: 30px;
}

h1 {
    text-align: center;
}

.products {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.card {
    height: 150px;
    padding: 20px;
    background-color: lightgray;
    text-align: center;
    border-radius: 10px;

    transition: 0.3s;
}

.card:hover {
    transform: scale(1.05);
}

@media (max-width: 900px) {
    .products {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .products {
        grid-template-columns: 1fr;
    }
}